<% flash.each do |message_type, message| %>
  <div class="alert alert-danger"><%= message %></div>
<% end %>
<%= render 'layouts/search_form' %>
<div class='food-table'>
<% if @foods.nil? %>
  <table class='nocontents'>
    <tr><td>検索結果: なし</td></tr>
    <tr><td>食材名を検索すると同等の栄養価を持つ食材を表示します。</td></tr>
    <tr><td>カートに保存した食材を利用したレシピをクックパッドで検索することもできます。</td></tr>
  </table>
<% else %>
  <%= render 'layouts/index_foods' %>
<% end %>
</div>