<div class='main'>
  <form class='form-group col-lg-12'>
    <input class='form-control input-lg form-md' type='text' placeholder='食材名で検索' name='query'>
      <br>
      <button class='btn btn-danger btn-lg'>検索</button>
  </form>
</div>
