<div class='search-form-wrapper'>
  <form class="form-inline md-form mr-auto mb-3 mt-0">
  <input class="form-control mr-sm-2" type="text" placeholder="食材名で検索" aria-label="Search" name='query'>
  <button class="btn btn-primary" type="submit">検索</button>
</form>
</div>